# we use a named profile by default so that base services meant only to be extended and
# not run themselves can use a different profile; the extending service can't remove
# base profiles though and hence has to add another profile to differentiate itself
# and let itself be run. hence, named profiles.
DOCKER_DEFAULT_PROFILE=default

# SUGGESTED: set all gids to nginx's unprivileged/worker gid (101 in the current nginx docker image)
# so every upstream unix socket is created with that gid and hence can be passed to by nginx,
# regardless of if that upstream container needs to be run as root *user* or not
DOCKER_ROOT_USER=0:101

# set this to the `$(id -u):$(id -g)` for the user:group you want containers to run as when possible
# (e.g. to calibrate docker uids/gids without needing to make all host binds owned by root)
# SUGGESTED: set the uid to your interactive non-root user to easily access bind mounted files,
DOCKER_NONROOT_USER=1001:101

# this is the regular user that you want to be able to freely access the docker configurations etc.
HOST_NONROOT_UID=1001
